.portfolio-item {
  background-color: #fff;
  width: 85%;
  max-width: 700px;
  margin: 20px auto;
  color: #4c4c4c;
  padding: 10px;
  border-radius: 4px;
  list-style-type: none;
}

.portfolio-item h1 {
  text-align: center;
  font-size: 28px;
}
